.attribName {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding: 15px 0 10px 0;
}

.attribItems {
    margin-top: 10px;
    margin-bottom: 10px;
}

.attribItem {
    margin-right: 10px;
    padding: 5px;
    border: solid black 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.selectedAtribItem {
    margin-right: 10px;
    padding: 5px;
    border: solid red 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.attribItem:hover {
    background-color: #e0e0e0;
}
