.header {
    border: black 2px solid;
    border-radius: 5px;
    background-color: beige;
    padding: 10px;
    display: inline-block;
}

.categories {
    float: left;
    margin: 10px;
    border: black 2px solid;
    border-radius: 5px;
    min-width: 100px;
    background-color: darkgray;
    text-align: center;


}

.categories:hover {
    background-color: red;
    cursor: pointer;
}

.currencies {
    float: right;
    margin: 10px;
    min-width: 100px;

}

.cart {
    float: right;
    margin: 10px;
    min-width: 100px;
    display: flex;
}

.cartIcon {
    width: 16px;
    margin: 0;
}